* {
  font-family: 'IBM Plex Sans';
}

.roster p, .roster-source, .map figure {
  color: #FFF;
  background-color: #1D1F21 !important;
  font-size: 95%;
}

.error {
  background: #eeeeee;
  padding: 0.8em;
}

pre.error {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #3971ED;
}

a:hover {
  color: #255DD9;
}

/* highlight links that have title starting or ending with a space. */
body:has(footer span[style='']) a.spaced {
  text-decoration: wavy underline crimson;
}

a img {
  border: 0;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
/*  background: url('/images/memphis-mini-dark.png'); */
  overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  color: #fff;
}

/* Better align sortable items. */
.ui-sortable-helper > p {
  margin: 0px;
}

.main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*  position: absolute;*/
  bottom: 60px;
  margin: 0;
  /*  width: 10000%; */
  display: flex;
  overflow-x: auto;
  height: calc(100vh - 40px);
}

footer {
/*  border-top: 1px solid #3d3c43;*/
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
  font-size: 80%;
  z-index: 1000;
  color: #C5C8C6;
}

footer form,
.footer-item {
  display: inline;
}

.item-placeholder {
  border: 2px dotted #bbb;
  background: #eee;
}

.footer-item {
  margin-left: 8px;
}

.no-results {
  font-style: italic;
}

.omitted-results {
  font-style: italic;
}

.incremental-search {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: inline-block;
  max-height: 300px;
  max-width: 430px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #FBA922;
}

.search-term {
  background-color: #FBA922;
}

.neighbor {
  float: right;
  padding-left: 8px;
  width: 16px;
}

img.remote,
.neighbor img {
  width: 16px;
  height: 16px;
  background-color: #cccccc;
}

.neighbor .wait {
  -webkit-animation: rotatecw 2s linear infinite;
  -moz-animation: rotatecw 2s linear infinite;
  animation: rotatecw 2s linear infinite;
}
.neighbor .fetch {
  -webkit-animation: rotatecw 0.5s linear infinite;
  -moz-animation: rotatecw 0.5s linear infinite;
  animation: rotatecw 0.5s linear infinite;
}
.neighbor .fail {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}

@-webkit-keyframes rotatecw {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotatecw {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotatecw {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header {
  top: 0;
}

.page-handle {
  cursor: grab;
}

footer {
  bottom: 0;
}

.twins,
.journal,
.footer {
  min-height: 1em;
  opacity: 1;
}
.twins:hover,
.journal:hover,
.footer:hover {
  opacity: 1;
}

.story {
  padding-bottom: 5px;
}

.story .item {
  min-width: 40px;
}

.story blockquote {
  margin-left: 0;
  padding: 0 10px;
  color: #777;
  border-left: 4px solid #ddd;
}

.data,
.chart,
.image {
  overflow: auto; /* clearfix hack */
  float: right;
  margin-left: 1.4px;
  margin-bottom: 0.4em;
  background: #1D1F21;
  padding: 11.2px;
  width: 183px;
}

.image.wide {
  width: 100%;
  margin-left: 0em;
  padding: 0em;
  padding-bottom: 0.8em;
  float: none;
}

.image.left {
  float: left;
  margin-left: 0em;
  margin-right: 2.8px;
}

.image :is(.thumbnail, .wide) {
  width: 100%;
  height: 100%;
}

/* image overlay */

div.image {
  position: relative;
}

.image img.overlay {
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 22px;
  right: 2px; /* or -2px without float */
  float: right;
  opacity: 0;
  transition: 0.7s ease;
}

.image:hover img.overlay {
  opacity: 1;
}

/* image plugin editor */

.imageEditing #image-options {
  margin-left: 4px;
}

/* end image plugin editor */

.backlinks {
  /*width: 420px;*/
  margin-top: 2px;
  clear: both;
  background-color: #1D1F21;
  padding: 1px;
  color: grey;
  font-size: 80%;
}

.backlinks summary {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.backlinks div {
  margin-left: 5px;
  margin-right: 2px;
}

.backlinks a {
  color: steelblue;
}

.journal {
  /*width: 420px;*/
  overflow-x: hidden;
  /*  margin-top: 2px; */
  clear: both;
  background-color: #1D1F21;
  padding: 1px;
}

.journal.ui-draggable {
  /*width: 420px;*/
}

.action.fork {
  color: #fff;
  background-color: #A36AC7;
}

.action {
  font-size: 0.9em;
  background-color: #000;
  background-size: 24px 24px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin: 3px;
  float: left;
  width: 18px;
}

.action.edit {
  background-color: #FBA922;
}

.action.separator {
  background-color: #198844;
}

.action.remove {
  background-color: #CC342B;
}

.action.move {
  background-color: #198844;
}

.action.add {
  background-color: #3971ED;
}

.control-buttons {
  float: right;
  position: relative;
  right: 5px;
  overflow-x: visible;
  white-space: nowrap;
}

.button {
  /*from bootstrap*/

  /*custom*/
  display: inline-block;
  white-space: normal;
  position: relative;
  top: 2px;
  left: 3px;
  font-size: 0.9em;
  font-family: 'IBM Plex Sans';
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
  margin-bottom: 2px;
  color: #fff;
  width: 18px;
}

.searchbox .search {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 0px;
  border-bottom: 2px solid #A36AC7;
}

.button:hover {
  color: #969896;
}

.button:active {
  box-shadow: inset 0 0 7px #3d3c43;
}

.output-item {
  background-color: #eee;
  padding: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.target {
  background-color: #1D1F21 !important;
}

.consumed {
  outline: solid 2px orange !important;
}

.highlight {
  outline: solid 2px red;
}

.report p,
.data p,
.chart p,
.footer a,
.image p,
p.caption {
  text-align: center;
  margin-bottom: 0;
  color: #FFFFFF;
  background-color: #1D1F21 !important;
  font-size: 70%;
}

.twins p {
  color: gray;
}

image.remote {
  width: 16px;
  height: 16px;
}

p.readout {
  text-align: center;
  font-size: 300%;
  color: black;
  font-weight: bold;
  margin: 0;
}

.footer {
  clear: both;
  margin-bottom: 1em;
  padding-bottom: 500px;
}

.page {
  float: left; /* inline-block preferred? */
  margin: 8px;
  /* padding: 0 31px; */
  width: 490px;
  flex: 0 0 490px;
  background-color: rgba(29, 31, 33, 0.85);
  /*  height: 100%;  */
  overflow: auto;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}
.page.active {
  border: 3px solid #A36AC7;
  z-index: 10;
}

.page.plugin > .paper {
  border: 0px solid #198844;
  box-shadow: inset 0px 0px 40px 0px rgba(25, 136, 68, 0.5);
}

.page.local > .paper {
  border: 3px solid #FBA922;
}

.page.remote > .paper {
  box-shadow: inset 0px 0px 40px 0px rgba(57, 113, 237, 0.5);
}

.page.recycler > .paper {
  border: 3px solid #CC342B;
}

.paper {
  /*width: 430px;*/
  padding: 30px;
  min-height: 100%;
}

.handle-parent {
  z-index: 0;
  position: relative;
}

.page-handle {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* make more specific than ghost style. */
div.pending-remove.page {
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 300ms;
}

.twins span {
  z-index: 2;
  position: relative;
}

.header span {
  z-index: 2;
  position: relative;
}

.factory {
  font-size: inherit;
  width: 100%;
  min-height: 150px;
}

textarea {
  font-size: inherit;
  margin-left: 2px;
  resize: vertical;
  width: calc(100% - 12px);
  min-height: 150px;
}

.clickable:hover {
  cursor: pointer;
}

@media all and (max-width: 490px) {
  .page {
    width: 1%;
    margin: 8px;
    padding: 0;
    flex: 0 0 100vw;
    font-size: .87rem;
    overflow-x: unset;
  }
}

* {
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #cccccc;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 6px;
}

.factory {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee;
}
.factory p {
  padding: 10px;
}

.bytebeat .play {
  display: inline-block;
  height: 14px;
  width: 11px;
  padding-left: 3px;
  font-size: 70%;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 8px;
}
.bytebeat .symbol {
  color: #990000;
}

.video {
  margin-top: 16px;
  margin-bottom: 5px;
}

.revision {
  position: relative;
  font-size: 24px;
  color: rgba(128, 32, 16, 0.7); /* #7b2106 */
  font-weight: bold;
}

.revision span {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: absolute;
  display: block;
  text-align: center;
  top: -40px;
  right: 10px;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
}

.favicon {
  position: relative;
  margin-bottom: -6px;
}

.ghost {
  opacity: 0.75;
  border-color: #eef2fe;
}
